body {
    background-color: #fffacd;
    /* color: black; */
}


/* 42ch.php */
.thread-box {
    background-color: #c0c0c0;
    border: 1px solid #db6618;
    margin: 10px;
    padding: 10px;

    border: 1px solid black;
    
}

a {
    color: black;
}
.thread_info {
    font-size: 14px;
    color:rgb(33, 136, 7);
    margin-bottom: 6px;
}

/* メッセージ　ユーザID,タイムスタンプ */
.message_info {
    font-size: 14px;
    color:rgb(0, 0, 0);
    margin-bottom: 6px;
    /*横に並べる*/
    display: inline-block; 
    /* 余白左 */
    margin-left: 10px;

}

.message{
    margin-left: 10px;
}

.userID{
    color:rgb(0, 0, 204);
}
.anonymasID{
    color:rgb(219, 145, 6);
}

.threads-list{
    /* display:flex; */
}



/* thread.php */
.message-box {
    background-color: #c0c0c0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;

    border: 1px solid black;
}
.message{
    margin-left: 12px;
}

.username {
    color: green;
}

.separator {
    color: black;
}

.timestamp {
    color: black;
}

/* header {
    padding: 30px;
    background: #333;
    color: #FFF;
    } */


    c[href^="#"] {
        text-decoration: none;
      }
      
      c[href^="#"]:hover {
        text-decoration: underline;
      }
      
      /* スクロールアニメーション */
      body {
        scroll-behavior: smooth;
      }
      